<omc-layout>
	<omc-header omcWidth="64px">
		<img slot="logo" src="../../assets/logo.svg" width="32px">
		<div slot="logout">
			<omc-icon icon="icon-question-circle" color="#31C27C" size="24"></omc-icon>
		</div>
	</omc-header>

	<omc-content omc-container>
		<form [formGroup]="form" (ngSubmit)="submit()">

			<div omc-label>ᠬᠠᠭᠤᠯᠠᠪᠠ</div>
			<omc-input formControlName="text" omcPlaceholder="ᠬᠠᠭᠤᠯᠠᠪᠠ"></omc-input>

			<div omc-label>ᠬᠠᠭᠤᠯᠠᠪᠠ</div>
			<omc-select formControlName="select" [omcData]="data"></omc-select>

			<div omc-label>ᠬᠠᠭᠤᠯᠠᠪᠠ</div>
      <omc-checkbox-group [omcData]="data" formControlName="checkbox" [omcLabel]="checkbox"></omc-checkbox-group>
			<ng-template #checkbox let-name>
				{{name.label}}
			</ng-template>

			<div omc-label>ᠬᠠᠭᠤᠯᠠᠪᠠ</div>
      <omc-radio-group [omcData]="data" formControlName="radio" [omcLabel]="radio"></omc-radio-group>
			<ng-template #radio let-name>
				{{name.label}}
			</ng-template>

			<div omc-label>ᠬᠠᠭᠤᠯᠠᠪᠠ</div>
			<omc-date formControlName="date"></omc-date>

      <omc-button>ᠲᠤᠰᠢᠶᠠᠬᠤ</omc-button>

		</form>
	</omc-content>
</omc-layout>